body {
  margin: 3rem;
  background: linear-gradient(145deg, white, gray, black);
}
header {
  display: flex;
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  font-family: "Roboto", system-ui;
  text-shadow: 5px 5px 20px black;
}

main {
  display: flex;
  width: 100%;
}

#contenedor-encriptador,
#contenedor-imagen,
#contenedor-resultado {
  width: 45%;
  border: 2px solid rgb(18, 18, 52);
  margin: 2rem;
  display: inline-grid;
  align-items: stretch;
  justify-content: space-around;
  padding-bottom: 5rem;
  background-color: white;
  border-radius: 10px;
}

#contenedor-resultado img {
  width: 150px;
  margin: 2rem 12rem;
}

.titulo-modificar {
  text-align: center;
  font-size: 1.8rem;
  font-family: Roboto;
  margin-top: 0.8rem;
  font-weight: 800;
}

.contenedor-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#contenedor-imagen img {
  margin: 1.5rem auto;
}

#contenedor-imagen h3 {
  margin: 1rem auto;
  font-size: 2rem;
  color: black;
}

#contenedor-imagen p {
  margin: 1rem auto;
  font-size: 1.3rem;
  color: rgb(10, 10, 51);
}

#texto,
#texto-modificado {
  width: 90%;
  height: 70%;
  margin: 3rem auto;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
  overflow: auto;
  resize: none;
  word-wrap: break-word;
  font-family: "Playfair Display", serif;
  box-shadow: 10px 10px 20px black;
  border-radius: 5px;
}

#texto-modificado {
  width: 80%;
  height: 50%;
  margin: 0 2.3rem;
  color: black;
  box-shadow: -10px -10px 20px rgb(1, 1, 12);
}

.contenedor-btn {
  display: flex;
  width: 18rem;
  height: 4rem;
  margin: 0 auto;
}
#encriptar,
#desencriptar,
.copiar {
  width: 100%;
  height: 100%;
  margin: 0 1rem;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  cursor: pointer;
}

#encriptar {
  background-color: black;
  color: white;
  transition: 1s;
}

#encriptar:hover {
  background-color: lightgray;
  color: black;
  transform: scale(1.2);
}

#desencriptar {
  background-color: white;
  color: black;
  transition: 1s;
}

#desencriptar:hover {
  background-color: gray;
  color: white;
  transform: scale(1.2);
}

.copiar {
  background-color: black;
  color: white;
  margin-top: 1rem;
  transition: 1s;
}

.copiar:hover {
  background-color: lightgray;
  color: black;
  font-size: 1.5rem;
  transform: scale(1.2);
}

footer {
  text-align: end;
  margin-right: 2rem;
}

#mensajeErrorContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

#mensajeError {
  background-color: lightgray;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  color: black;
  position: relative;
}

#cerrarBtn {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: bold;
  color: black;
}

@media (min-width: 1200px) {
  header {
    font-size: 4rem;
  }

  #contenedor-encriptador,
  #contenedor-imagen,
  #contenedor-resultado {
    width: 40%;
    margin: 2rem;
  }

  #texto,
  #texto-modificado {
    width: 80%;
    height: 60%;
  }

  #contenedor-resultado img {
    width: 120px;
    margin: 2rem 10rem;
  }
}

/* Estilos para tabletas y dispositivos con pantallas medianas (por ejemplo, iPads) */
@media (min-width: 771px) and (max-width: 1199px) {
  header {
    font-size: 3rem;
  }

  #contenedor-encriptador,
  #contenedor-imagen,
  #contenedor-resultado {
    width: 50%;
    margin: 2rem;
    padding-bottom: 8rem;
  }

  #texto,
  #texto-modificado {
    width: 70%;
    height: 50%;
  }

  #contenedor-imagen h3,
  #contenedor-imagen p {
    font-size: 1.5rem;
    text-align: center;
  }
  #contenedor-resultado img {
    width: 100px;
    margin: 2rem 8rem;
  }
  .contenedor-btn {
    flex-wrap: wrap;
  }

  #encriptar {
    margin-bottom: 2rem;
  }
}

/* Estilos para dispositivos móviles (por ejemplo, teléfonos) */
@media (min-width: 500px) and (max-width: 770px) {
  body {
    margin: 3rem;
    background: linear-gradient(145deg, white, gray, black);
  }
  header {
    font-size: 3rem;
    font-weight: 800;
  }
  main {
    width: 100%;
    flex-wrap: wrap;
  }

  #contenedor-encriptador,
  #contenedor-imagen,
  #contenedor-resultado {
    width: 90%;
    margin: 1rem;
    text-align: center;
  }

  #texto {
    width: 80%;
    height: 70%;
  }

  #contenedor-imagen img {
    width: 90%;
  }

  #contenedor-resultado img {
    width: 200px;
    margin: 1rem 4rem;
  }
  #encriptar,
  #desencriptar,
  .copiar {
    width: 80%;
    height: 80%;
    margin: 0 0.7rem;
    font-size: 1rem;
    padding: 0.7rem;
  }
  .copiar {
    margin-top: 2rem;
  }

  footer {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
  }
}
/* Estilos para dispositivos móviles con un ancho de pantalla de 400 píxeles o menos */
@media (min-width: 250px) and (max-width: 499px) {
  body {
    margin: 2rem;
    background: linear-gradient(145deg, white, gray, black);
  }

  header {
    font-size: 2rem;
    font-weight: 900;
  }

  main {
    width: 100%;
    flex-wrap: wrap;
  }

  #contenedor-encriptador,
  #contenedor-imagen,
  #contenedor-resultado {
    width: 100%;
    margin: 0.5rem;
  }

  #texto,
  #texto-modificado {
    width: 60%;
    height: 50%;
  }

  .contenedor-btn {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #contenedor-resultado img {
    width: 180px;
    margin: 3rem 2rem;
  }
  #encriptar,
  #desencriptar,
  .copiar {
    width: 60%;
    height: 60%;
    margin: 0 0.7rem;
    font-size: 0.6rem;
    padding: 0.7rem;
    text-align: center;
  }
  #desencriptar {
    margin-top: 2rem;
  }
  .copiar {
    margin-top: 4rem;
    text-align: center;
  }
  .copiar:hover,
  #encriptar:hover,
  #desencriptar:hover {
    font-size: 1rem;
  }

  #contenedor-imagen img {
    width: 80%;
  }

  #contenedor-imagen h3,
  #contenedor-imagen p {
    font-size: 1rem;
    text-align: center;
  }

  footer {
    color: white;
    font-weight: 700;
    font-size: 1rem;
  }
}
